html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  direction: rtl;
  font-family: -apple-system, BlinkMacSystemFont, 'Alef', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

mark {
  background-color: transparent;
}

#root {
  margin: 0 auto;
}

.MuiInputLabel-formControl {
  right: 0;
}
